@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;

  .main-wrapper {
    display: flex;
    flex: 1;
  }

  .main {
    flex: 1;
    background-color: #FFB026;
  }

  .left-column, .right-column {
    flex: 0 0 16rem;
  }

  .left-column {
    order: -1;
  }

  .header, .footer {
    height: 50px;
    background-color: #F35D5B;
  }
}
