@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;

  .main-wrapper {
    display: flex;
    flex: 1;
  }

  .main {
    flex: 1;
    background-color: #ffff00;
  }

  .left-column, .right-column {
    flex: 0 0 12em;
    background-color: #ff0000;
  }

  .left-column {
    order: -1;
    background-color: #00ff00;
  }

  .header, .footer {
    height: 50px;
    background-color: #0f0f0f;
  }
}


// #app {
//   // margin: 2rem 1rem;
//   height: 100%;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//
//   .main-chart-wrapper {
//     display: flex;
//     height: 100%;
//   }
//
//   .top {
//     background-color: #ededed;
//     height: 3rem;
//   }
//
//   .watch-list {
//     width: 20%;
//   }
//
//   .main {
//     background-color: #ff0fff;
//   }
// }
